<h1>List of Topics</h1>

<h3><div class="row">
  <div class="span2">
    Creator
  </div>
  <div class="span4">
    Topics
  </div>
</div></h3>

<% @topics.each do |topic| %>
  <div class="row">
    <div class="span2">
      <%= link_to topic.creator.name, topic.creator %>
    </div>
    <div class="span4">
      <%= link_to topic.name, topic_path(topic.id) %>
    </div>
    <div class="span1">
      <% if current_user.subscribed_topics.include?(topic) %>
        <%= link_to 'Unsubscribe',subscription_path(current_user.subscriptions.find_by_topic_id(topic.id).id),method: :delete %>
      <% else %>
        <%= link_to 'Subscribe', subscriptions_path(
            subscription: { user_id: current_user.id, topic_id: topic.id }), method: :post %>
      <% end %>
    </div>
    <% if current_user?(topic.creator) %>
      <div class="span1">
        <%= link_to 'Delete', topic_path(topic.id), method: :delete %>
      </div>
    <% end %>
  </div>
<% end %>
