<h1><%= @topic.name %></h1>
<%= link_to 'Edit topic name', edit_topic_path(@topic.id) if current_user?(@topic.creator) %>
<% @markers = [] %>
<br/>
<h2>Tags:    <%= link_to 'Create new tag', new_tag_path(topic_id: @topic.id) if current_user?(@topic.creator) %></h2>
<br/>
<div class="row">
  <table>
   <% @topic.tags.each do |tag| %>
     <% @markers << "markers=color:blue%7Clabel:S%7C#{tag.lat},#{tag.lng}" %>
     <tr>
       <td><li><%= link_to tag.text, tag %></li></td>
       <td><%= link_to '(Delete)', tag_path(tag.id), method: :delete if current_user?(@topic.creator) %></td>
     </tr>
   <% end %>
  </table> 
  <div class="span6 offset3">
    <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?size=500x500&sensor=false&#{@markers.join('&')}" %>
  </div>
</div>
