<h1><%= @user.name %></h1>

<div class="row">
  <div class="span2 offset5">
    <h2><%= link_to @user.email, "mailto:#{@user.email}" %></h2>
  </div>
</div>
<h3>
  <div class="row">
    <div class="span2">
      My Topics:
    </div>
  </div>
</h3>
<div class="row">
  <div class="span6">
    <% @markers = [] %>
    <% @user.created_topics.each do |topic| %>
      <% hit_num = 0 %>
        <% topic.tags.each do |tag| %>
          <% @markers << "markers=color:blue%7Clabel:S%7C#{tag.lat},#{tag.lng}" %>
          <% hit_num += tag.hits.length%>
        <% end %>
        <div class="span4"><%= link_to "#{topic.name}(#{hit_num} hits)", topic %></div>
        <div class="span1"><%= link_to 'Delete', topic_path(topic.id), method: :delete if current_user?(@user) %></div>
    <% end %>
  </div>
  <div class="span6">
    
    <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?size=500x500&sensor=false&#{@markers.join('&')}" %>
  </div>
</div>
